<section class="main-content">
  <!-- <div class="content">
    <div class="main-title">
      <h1 class="main-text">Up to 50% off</h1>
      <h2 class="main-heading">for elegant sofa set</h2>
      <a href="" class="main-para">Shop Now</a>
    </div>
  </div> -->

  <!-- <div>Some tags before</div> -->
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="../../assets/sofa.png" alt="" class="main-img" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../assets/banner2.jpg" alt="" class="main-img"/>
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../assets/banner3.png" alt="" class="main-img"/>
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../assets/sofa.png" alt="" class="main-img"/>
    </ng-template>
  </owl-carousel-o>
</section>
