<section class="footer">
  <div class="container">
    <div class="cards">
      <h4 class="footer-title">Our Address</h4>
      <ul class="footer-box">
        <li class="card-items d-flex">
          <img src="../../assets/Group 41242.png" alt="" class="icon" />
          <aside class="footer-text">
            Karve Road, Dean Gymkhana<br />Pune, Maharashra 4567,<br />India
          </aside>
        </li>
        <li class="card-items d-flex al-item">
          <img src="../../assets/Group 41243.png" alt="" class="icon" />
          <aside class="footer-text">022223682242</aside>
        </li>
        <li class="card-items d-flex al-item">
          <img src="../../assets/Group 41244.png" alt="" class="icon" />
          <aside class="footer-text">emailemail@email.com</aside>
        </li>
      </ul>
    </div>
    <div class="cards">
      <h4 class="footer-title">Company</h4>

      <ul class="footer-box">
        <li class="card-items d-flex al-item">About Us</li>
        <li class="card-items d-flex al-item">Privacy Policy</li>
        <li class="card-items d-flex al-item">Rewards</li>
        <li class="card-items d-flex al-item">Delivery Info</li>
        <li class="card-items d-flex al-item">Terms and conditions</li>
      </ul>
    </div>
    <div class="cards">
      <h4 class="footer-title">More</h4>
      <ul class="footer-box">
        <li class="card-items d-flex al-item">Feedback</li>
        <li class="card-items d-flex al-item">Products</li>
        <li class="card-items d-flex al-item">Offers</li>
        <li class="card-items d-flex al-item">Deals</li>
        <li class="card-items d-flex al-item">Contact</li>
      </ul>
    </div>
    <div class="cards">
      <h4 class="footer-title">More</h4>
      <ul class="footer-box">
        <li class="card-items d-flex al-item">Feedback</li>
        <li class="card-items d-flex al-item">Products</li>
        <li class="card-items d-flex al-item">Offers</li>
        <li class="card-items d-flex al-item">Deals</li>
        <li class="card-items d-flex al-item">Contact</li>
      </ul>
    </div>
    <div class="cards">
      <h4 class="footer-title">Our News Letter</h4>
      <ul class="footer-box">
        <li class="card-items d-flex al-item">Lorem ipsum dolor set amet</li>
        <li class="card-items d-flex al-item">
          <!-- <mat-form-field class="example-form-field">
            <mat-label>Clearable input</mat-label>
            <input matInput type="email">
            
              <mat-icon class="send-icon">close</mat-icon>
            
          </mat-form-field> -->
          <input type="email" name="" id="mail-box" placeholder="Enter your email">
          <a href=""><img src="../../assets/send.svg" alt="" class="send-img"></a>

          <!-- <span class="material-icons-outlined send-img">
            send
            </span> -->
            <!-- <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field> -->
            <!-- <mat-form-field appearance="fill" class="fld">
              <input
                matInput
                placeholder="myPlaceholder"
                class="inp"
              >
              <mat-icon matPrefix class="my-icon">sentiment_very_satisfied</mat-icon>
            </mat-form-field> -->
            <!-- <mat-form-field appearance="fill">
              <mat-label>Search Something</mat-label>
              <input type="text" matInput placeholder="Type something..">
              <a href=""><img src="../../assets/send.svg" alt="" class="send-img"></a>
          </mat-form-field> -->
          
        </li>
      </ul>
    </div>
  </div>
</section>
