<section class="arrivals">
  <div class="container">
    <div class="new">
      <div class="top-sec d-flex al-item">
        <h3 class="main-title">New Arrivals</h3>
      </div>
      <div class="view-sec">
        <div class="view d-flex al-item">
          <div class="view-text">View All</div>
          <span class="material-icons-outlined view-icon"> east </span>
        </div>
      </div>
      <div class="arrival-cards">
        <div class="cards">
          <div class="image">
            <img
              src="../../assets/noun-heart-1742986.svg"
              alt=""
              class="heart"
            />

            <img
              src="../../assets/furniture-21954.png"
              alt=""
              class="furniture"
            />
            <div class="small-box d-flex al-item">
              <h6 class="small-text">3.0</h6>
              <span class="material-icons-outlined star"> star </span>
            </div>
          </div>
          <div class="bottom-box">
            <div class="furniture-title">wasim grey sofa</div>
            <div class="bottom-sec d-flex al-item">
              <div class="price">$10000</div>
              <div class="price-sec">$20000</div>
              <div class="offer">50% Off</div>
            </div>
          </div>
        </div>
        <div class="cards">
          <div class="image">
            <img
              src="../../assets/noun-heart-1742986.svg"
              alt=""
              class="heart"
            />

            <img src="../../assets/pngegg.png" alt="" class="furniture" />
            <div class="small-box d-flex al-item">
              <h6 class="small-text">3.0</h6>
              <span class="material-icons-outlined star"> star </span>
            </div>
          </div>
          <div class="bottom-box">
            <div class="furniture-title">wasim grey sofa</div>
            <div class="bottom-sec d-flex al-item">
              <div class="price">$10000</div>
              <div class="price-sec">$20000</div>
              <div class="offer">50% Off</div>
            </div>
          </div>
        </div>
        <div class="cards">
          <div class="image">
            <img
              src="../../assets/noun-heart-1742986.svg"
              alt=""
              class="heart"
            />

            <img src="../../assets/pngegg.png" alt="" class="furniture" />
            <div class="small-box d-flex al-item">
              <h6 class="small-text">3.0</h6>
              <span class="material-icons-outlined star"> star </span>
            </div>
          </div>
          <div class="bottom-box">
            <div class="furniture-title">wasim grey sofa</div>
            <div class="bottom-sec d-flex al-item">
              <div class="price">$10000</div>
              <div class="price-sec">$20000</div>
              <div class="offer">50% Off</div>
            </div>
          </div>
        </div>
        <div class="cards">
          <div class="image">
            <img
              src="../../assets/noun-heart-1742986.svg"
              alt=""
              class="heart"
            />

            <img src="../../assets/sofa_PNG6942.png" alt="" class="furniture" />
            <div class="small-box d-flex al-item">
              <h6 class="small-text">3.0</h6>
              <span class="material-icons-outlined star"> star </span>
            </div>
          </div>
          <div class="bottom-box">
            <div class="furniture-title">wasim grey sofa</div>
            <div class="bottom-sec d-flex al-item">
              <div class="price">$10000</div>
              <div class="price-sec">$20000</div>
              <div class="offer">50% Off</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top">
      <div class="top-sec d-flex al-item">
        <h3 class="main-title">Most Popular</h3>
      </div>
      <div class="view-sec">
        <div class="view d-flex al-item">
          <div class="view-text">View All</div>
          <span class="material-icons-outlined view-icon"> east </span>
        </div>
      </div>
      <div class="arrival-cards">
        <div class="cards">
          <div class="image">
            <img
              src="../../assets/noun-heart-1742986.svg"
              alt=""
              class="heart"
            />

            <img
              src="../../assets/furniture-21954.png"
              alt=""
              class="furniture"
            />
            <div class="small-box d-flex al-item">
              <h6 class="small-text">3.0</h6>
              <span class="material-icons-outlined star"> star </span>
            </div>
          </div>
          <div class="bottom-box">
            <div class="furniture-title">wasim grey sofa</div>
            <div class="bottom-sec d-flex al-item">
              <div class="price">$10000</div>
              <div class="price-sec">$20000</div>
              <div class="offer">50% Off</div>
            </div>
          </div>
        </div>
        <div class="cards">
          <div class="image">
            <img
              src="../../assets/noun-heart-1742986.svg"
              alt=""
              class="heart"
            />

            <img src="../../assets/pngegg.png" alt="" class="furniture" />
            <div class="small-box d-flex al-item">
              <h6 class="small-text">3.0</h6>
              <span class="material-icons-outlined star"> star </span>
            </div>
          </div>
          <div class="bottom-box">
            <div class="furniture-title">wasim grey sofa</div>
            <div class="bottom-sec d-flex al-item">
              <div class="price">$10000</div>
              <div class="price-sec">$20000</div>
              <div class="offer">50% Off</div>
            </div>
          </div>
        </div>
        <div class="cards">
          <div class="image">
            <img
              src="../../assets/noun-heart-1742986.svg"
              alt=""
              class="heart"
            />

            <img
              src="../../assets/furniture-png-transparent-images-png-only-34.png"
              alt=""
              class="furniture"
            />
            <div class="small-box d-flex al-item">
              <h6 class="small-text">3.0</h6>
              <span class="material-icons-outlined star"> star </span>
            </div>
          </div>
          <div class="bottom-box">
            <div class="furniture-title">wasim grey sofa</div>
            <div class="bottom-sec d-flex al-item">
              <div class="price">$10000</div>
              <div class="price-sec">$20000</div>
              <div class="offer">50% Off</div>
            </div>
          </div>
        </div>
        <div class="cards">
          <div class="image">
            <img
              src="../../assets/noun-heart-1742986.svg"
              alt=""
              class="heart"
            />

            <img src="../../assets/sofa_PNG6942.png" alt="" class="furniture" />
            <div class="small-box d-flex al-item">
              <h6 class="small-text">3.0</h6>
              <span class="material-icons-outlined star"> star </span>
            </div>
          </div>
          <div class="bottom-box">
            <div class="furniture-title">wasim grey sofa</div>
            <div class="bottom-sec d-flex al-item">
              <div class="price">$10000</div>
              <div class="price-sec">$20000</div>
              <div class="offer">50% Off</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="offers">
      <div class="top-sec d-flex al-item">
        <h3 class="main-title">Top Offers</h3>
      </div>
      <div class="view-sec">
        <div class="view d-flex al-item">
          <div class="view-text">View All</div>
          <span class="material-icons-outlined view-icon"> east </span>
        </div>
      </div>
      <div class="arrival-cards">
        <div class="cards">
          <div class="image">
            <img
              src="../../assets/noun-heart-1742986.svg"
              alt=""
              class="heart"
            />

            <img
              src="../../assets/pngegg (2).png"
              alt=""
              class="furniture table1"
            />
            <div class="small-box d-flex al-item">
              <h6 class="small-text">3.0</h6>
              <span class="material-icons-outlined star"> star </span>
            </div>
          </div>
          <div class="bottom-box">
            <div class="furniture-title">wasim grey sofa</div>
            <div class="bottom-sec d-flex al-item">
              <div class="price">$10000</div>
              <div class="price-sec">$20000</div>
              <div class="offer">50% Off</div>
            </div>
          </div>
        </div>
        <div class="cards">
          <div class="image">
            <img
              src="../../assets/noun-heart-1742986.svg"
              alt=""
              class="heart"
            />

            <img
              src="../../assets/pngegg (3).png"
              alt=""
              class="furniture table1"
            />
            <div class="small-box d-flex al-item">
              <h6 class="small-text">3.0</h6>
              <span class="material-icons-outlined star"> star </span>
            </div>
          </div>
          <div class="bottom-box">
            <div class="furniture-title">wasim grey sofa</div>
            <div class="bottom-sec d-flex al-item">
              <div class="price">$10000</div>
              <div class="price-sec">$20000</div>
              <div class="offer">50% Off</div>
            </div>
          </div>
        </div>
        <div class="cards">
          <div class="image">
            <img
              src="../../assets/noun-heart-1742986.svg"
              alt=""
              class="heart"
            />

            <img
              src="../../assets/pngegg (4).png"
              alt=""
              class="furniture table1"
            />
            <div class="small-box d-flex al-item">
              <h6 class="small-text">3.0</h6>
              <span class="material-icons-outlined star"> star </span>
            </div>
          </div>
          <div class="bottom-box">
            <div class="furniture-title">wasim grey sofa</div>
            <div class="bottom-sec d-flex al-item">
              <div class="price">$10000</div>
              <div class="price-sec">$20000</div>
              <div class="offer">50% Off</div>
            </div>
          </div>
        </div>
        <div class="cards">
          <div class="image">
            <img
              src="../../assets/noun-heart-1742986.svg"
              alt=""
              class="heart"
            />

            <img
              src="../../assets/pngegg (5).png"
              alt=""
              class="furniture table2"
            />
            <div class="small-box d-flex al-item">
              <h6 class="small-text">3.0</h6>
              <span class="material-icons-outlined star"> star </span>
            </div>
          </div>
          <div class="bottom-box">
            <div class="furniture-title">wasim grey sofa</div>
            <div class="bottom-sec d-flex al-item">
              <div class="price">$10000</div>
              <div class="price-sec">$20000</div>
              <div class="offer">50% Off</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
