<header class="top-head">
  <div class="container">
    <nav class="top-head-nav">
      <span class="left-nav-box d-flex al-item">
        <img src="../../assets/Mask Group 2.png" alt="" class="logo-img" />
        <aside class="left-sec">
          <!-- <small class="logo-text">All categories</small> -->
          <!-- <span class="material-symbols-outlined"> expand_more </span> -->
          <!-- <button mat-button [matMenuTriggerFor]="animals">
            All Categories
            <span class="material-symbols-outlined"> expand_more </span>

          </button> -->

         
          
        </aside>
      </span>
      <span class="right-nav-box d-flex al-item">
        <aside class="right-box-1 d-flex al-item">
          <img
            src="../../assets/ios-search.png"
            alt=""
            class="search"
            width="17px"
          />
          <h4 class="right-box-text">Search</h4>
        </aside>
        <aside class="right-box-1 d-flex al-item">
          <img
            src="../../assets/noun-heart-1742986.svg"
            alt=""
            class="search"
          />
          <div class="round2"></div>
          <h4 class="right-box-text">Wishlist(78)</h4>
        </aside>
        <aside class="right-box-1 d-flex al-item">
          <img src="../../assets/icons Q2.svg" alt="" class="cart" />
          <div class="round">2</div>
          <small class="right-box-text">Cart</small>
        </aside>
        <!-- <aside class="login-box">
            <small class="login-title">Login</small>
        </aside> -->
        <!-- <button class="login-box">Login</button> -->
        <aside class="right-box-1 d-flex al-item">
          <!-- <small class="right-box-text">Alex Jacob</small>
          <span class="material-icons-outlined"> expand_more </span> -->
          
        </aside>
      </span>
    </nav>
  </div>
</header>
