<section class="boxes">
  <div class="container">
    <div class="boxes-sec">
      <div class="box-cards d-flex al-item">
        <img src="../../assets/Group 41361.png" alt="" class="box-icon" />
        <div class="box-sec">
            <h4 class="box-title">Easy Returns</h4>
            <h4 class="box-text">Lorem Ipsum dolar amet.</h4>
        </div>
      </div>
      <div class="box-cards d-flex al-item">
        <img src="../../assets/Group 41358.png" alt="" class="box-icon" />
        <div class="box-sec">
            <h4 class="box-title">Ready to use</h4>
            <h4 class="box-text">Lorem Ipsum dolar amet.</h4>
        </div>
      </div>
      <div class="box-cards d-flex al-item">
        <img src="../../assets/Group 41349.png" alt="" class="box-icon" />
        <div class="box-sec">
            <h4 class="box-title">Safe Packaging</h4>
            <h4 class="box-text">Lorem Ipsum dolar amet.</h4>
        </div>
      </div>
      <div class="box-cards d-flex al-item">
        <img src="../../assets/Group 41299.png" alt="" class="box-icon" />
        <div class="box-sec">
            <h4 class="box-title">Free Delivery</h4>
            <h4 class="box-text">Lorem Ipsum dolar amet.</h4>
        </div>
      </div>
    </div>
  </div>
</section>
