<section class="bottom">
  <div class="container">
    <div class="row d-flex">
      <div class="bottom-cards bottom-sec1 d-flex al-item">
        <img src="../../assets/pngegg (1).png" alt="" class="bottom-img" />
        <aside class="bottom-box">
          <span class="bottom-top-text"> Upto 45% discount!</span>
          <span class="bottom-title"
            >Excellent Quality<br />In-Season Furniture</span
          >
          <a href="" class="bottom-text">Shop Now</a>
        </aside>
      </div>

      <div class="bottom-cards bottom-sec2 d-flex al-item">
        <img src="../../assets/furniture-21954.png" alt="" class="bottom-image" />
        <aside class="bottom-box">
          <span class="bottom-top-text"> Buy 1, Get 1 Free</span>
          <span class="bottom-title"
            >MAKE EVERYONE<br />GO WOW</span
          >
          <a href="" class="bottom-text">Shop Now</a>
        </aside>
      </div>
    </div>
  </div>
</section>
