<section class="slider-main">
  <div class="containers">

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <span class="slider">
          <img src="../../assets/slide1.png" alt="" class="slide-img">
          <h4 class="slider-text">sofa</h4>
        </span>
      </ng-template>
      <ng-template carouselSlide>
        <span class="slider">
          <img src="../../assets/slide1.png" alt="" class="slide-img">
          <h4 class="slider-text">sofa</h4>

        </span>
      </ng-template>
      <ng-template carouselSlide>
        <span class="slider">
          <img src="../../assets/slide1.png" alt="" class="slide-img">
          <h4 class="slider-text">sofa</h4>

        </span>
      </ng-template>
      <ng-template carouselSlide>
        <span class="slider">
          <img src="../../assets/slide1.png" alt="" class="slide-img">
          <h4 class="slider-text">sofa</h4>

        </span>
      </ng-template>
      <ng-template carouselSlide>
        <span class="slider">
          <img src="../../assets/slide1.png" alt="" class="slide-img">
          <h4 class="slider-text">sofa</h4>

        </span>
      </ng-template>
        <ng-template carouselSlide>
        <span class="slider">
          <img src="../../assets/slide1.png" alt="" class="slide-img">
          <h4 class="slider-text">sofa</h4>

        </span>
      </ng-template>
      
    </owl-carousel-o>
  </div>
  
</section>


